@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Naskh Arabic", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/*FONT TITLE D U C K*/
.winky-sans-m {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}
/*font ZAIN*/
.zain-extralight {
  font-family: "Zain", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.zain-light {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.zain-regular {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zain-bold {
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.zain-extrabold {
  font-family: "Zain", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.zain-black {
  font-family: "Zain", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.zain-light-italic {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.zain-regular-italic {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: italic;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* يخلي الصفحة تأخذ ارتفاع الشاشة بالكامل */
  margin: 0;
}

main {
  flex: 1;
  min-height: 100vh;
  /* يضمن وجود مساحة كافية للمحتوى */
}

nav img {
  width: 70px;
  margin-left: 20px;
  display: block;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 10;
  display: flex;
  padding: 10px 50px;
  margin-right: 10px;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin-right: 10px;
  padding: -10;
}

.nav-links {
  flex: 1%;
  text-align: left;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  justify-content: flex-start;
  text-decoration: none;
  /*يشيل الخط اللي تحت الكلام */
  font-size: 16px;
  padding-bottom: 5px;
  /* المسافة بين النص والخط */
}

.nav-links ul li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  /* 0 hide menu to display when hover*/
  height: 2px;
  background: #A6AEBF;
  display: block;
  margin: auto;
  transition: 0.3s;
  /* hover effict */
  margin-left: -50%;
  /* محاذاة الخط تمامًا للمنتصف */
}

.nav-links ul li:hover::after {
  width: 100%;
}

nav .fa {
  display: none;
  color: red;
}

/*------------------------------------*/

/* WAVE CSS */

.svg-container {
  position: absolute;
  top: 200px;
  height: 0;
  width: 100%;
  padding-bottom: calc(100% * 45 / 1440);
  z-index: -1;
  /* يخليها في الخلف */

}


/* PAGE SET UP */
header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #C5D3E8;
  background-size: cover;
  background-position: center;
}

#title {
  font-family: "Winky Sans", sans-serif;
  font-size: 8rem;
  color: #ffffff;
  letter-spacing: 16px;
  margin-top: 150px;
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  margin-top: 1.25em;
  font-size: 3rem;
}

h2,
p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2,
a {
  color: #FFF5E4;
}

a {
  text-decoration: none;
}

.footer1 {
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer-content {
  display: flex;
  align-items: center;
  /* يخلي الأيقونة والنص بمحاذاة أفقية */
  gap: -10px;
  /* مسافة بين الأيقونة والنص */
}

.footer-content dotlottie-player {
  transform: translateY(-10px);
  /* رفع الأيقونة بمقدار 2px */
}

.footer-text {
  font-family: "Zain", sans-serif;
  font-size: 14px;
  color: #737373;
}


/*----button----*/
.button-container {
  display: flex;
  justify-content: center;
  /* توسيط العناصر أفقياً */
  gap: 50px;
  /* تحديد المسافة بين الأزرار */
  margin-top: 200px;
}

/* From Uiverse.io by vinodjangid07 */
.button-container button {
  width: 190px;
  /*  عرض ثابت للزر */
  height: 50px;
  /*  ارتفاع ثابت للزر */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A6AEBF;
  border: 8px solid #cdd5e5;
  color: white;
  gap: 8px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
  overflow: auto;
  ;
  /* إخفاء النص إذا كان يتجاوز الحد */
  word-wrap: break-word;
  /* يسمح بتقسيم النص إلى سطور */
}

.button-container text {
  font-family: "Zain", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  white-space: normal;
  /* يسمح بالنص بالتنقل إلى سطر جديد */
}

.svg {
  padding-top: 10px;
  height: 100%;
  width: fit-content;
  display: flex;
  
}

.svg svg {
  width: 20px;
  height: 25px;
}

.button-container button:hover {
  border: 6px solid #A6AEBF;
  background-color: #cdd5e5;
}

.button-container button:active {
  border: 5px solid #c0dfff;
}

.button-container button:hover .svg svg {
  animation: jello-vertical 0.9s both;
  transform-origin: bottom;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

/* Site footer */
.site-footer {
  background-color: #C5D3E8;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;

  color: #737373;
  /*لون الخط*/
  bottom: 0;
  width: 100%;
  margin-top: 200px;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #d1b434;
  text-decoration: none;
}

.copyright-text {
  font-family: "Zain", sans-serif;
  display: block;
  /*يخلي النص يظهر في سطر منفصل */
  text-align: center;
}



/*M E D I A*/
@media (max-width: 700px) {
  .logo {
    margin-left: 0;
  }

  .logo img {
    height: auto;
    width: 40px;
    /* حجم الشعار */
    position: relative;
    margin: 0;
  }

  #hamburgerMenu {
    position: absolute;
    /* تحديد مكانه باستخدام absolute */
    right: -130px;
    /* المسافة من اليمين */
    display: block;
  }

  #hamburgerMenu svg {
    width: 50px;
    height: 50px;
  }
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: row-reverse;
  }
  .footer-text {
    font-family: "Zain", sans-serif;
    font-size: 14px;
    color: #737373;
  }
  
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.svg-container {
  padding-bottom: calc(100% * 30 / 1200);
}


@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

@media (max-width: 767px) {
  #title {
    margin-top: 90px;
    font-size: 3rem;
    /* حجم النص لشاشات الجوال */
  }

  .nav-links {
    display: none;
  }

  .navH {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }


  .nav-links.active {
    display: block;
    position: absolute;
    top: 60px;
    left: 90px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .nav-links ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }

  .nav-links ul li {
    padding: 10px;
  }

  .nav-links ul li a {
    text-decoration: none;
    font-size: 5;
    color: #333;
    display: block;
  }

  .button-container {
    text-align: center;
    margin-top: 100px;
  }
}

.navH {
  --color: #ffffff;
  background: none;
  width: 100px;
  height: 56px;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;

  svg {
    fill: none;
    stroke: var(--color);
    stroke-width: 7px;
    stroke-linecap: round;
    stroke-linejoin: round;

    use {
      &:nth-of-type(1) {
        opacity: 1;
        stroke-dashoffset: 221;
        stroke-dasharray: 46 249;
        transition: stroke-dashoffset .12s linear .2s, stroke-dasharray .12s linear .2s, opacity 0s linear .2s;
      }

      &:nth-of-type(2) {
        animation: stroke-animation-reverse 1.2s ease-out forwards;
      }
    }
  }

  input {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    cursor: pointer;
    opacity: 0;

    &:checked {
      +svg {
        use {
          &:nth-of-type(1) {
            stroke-dashoffset: 175;
            stroke-dasharray: 0 295;
            opacity: 0;
            transition: stroke-dashoffset .07s linear .07s, stroke-dasharray .07s linear .07s, opacity 0s linear .14s;
          }

          &:nth-of-type(2) {
            animation: stroke-animation 1.2s ease-out forwards;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .navH {
    order: 2;
    display: flex;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin: 0;

  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: block;
  }
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 295;
    stroke-dasharray: 25 270;
  }

  50% {
    stroke-dashoffset: 68;
    stroke-dasharray: 59 236;
  }

  65% {
    stroke-dashoffset: 59;
    stroke-dasharray: 59 236;
  }

  100% {
    stroke-dashoffset: 68;
    stroke-dasharray: 59 236;
  }
}

@keyframes stroke-animation-reverse {
  0% {
    stroke-dashoffset: 68;
    stroke-dasharray: 59 236;
  }

  50% {
    stroke-dashoffset: 290;
    stroke-dasharray: 25 270;
  }

  65% {
    stroke-dashoffset: 295;
    stroke-dasharray: 25 270;
  }

  100% {
    stroke-dashoffset: 290;
    stroke-dasharray: 25 270;
  }
}
